body {
    background-color: #bdbdbd;
}
.card {
    background-color: #fff;
    width: 305px;
    padding: 10px;
}
.card__title {
    color: #282828;
    font-size: 14px;
    
}
.card__description {
    font-size: 12px;
    color: #282828;
}
.card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 10px;
}